body {
    padding: 20% 30% 20% 30%;
    background-color: #222426;
}

.greeting {
    background-color: #FFFFFF;
    border-radius: 20px;
    color: #222426;
    font-size: 40px;
    text-align: center;
    padding: 30px 10px 30px 10px;
    cursor: pointer;
}

.greeting:hover {
    color: #FFFFFF;
    background-color: #2ac7ad;
}
