body {
    margin: 0;
    background-color: #222426;
    text-align: center;
}

header {
    background-color: #A63841;
    text-align: center;
}

footer {
    padding: 25px;
    text-align: right;
}

.greeting {
    display: inline-block;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 35px;
    font-weight: bold;
}

img {
    max-width: 80%;
    max-height: 80%;
}

.content {
    margin: 50px auto;
}

.ending {
    padding: 20px;
    background-color: #A63841;
    border: 0px;
    border-radius: 15px;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: .5px;
}

.ending:hover {
    background-color: #9067c6;
    cursor: pointer;
}
